/*
 * Box Style
*/
/*
---
name: box
tag:
  - box
  - error
---


```jade
.c-box-error
  .error-message
    p ここにエラーメッセージが入ります。
    p ここにエラーメッセージが入ります。
```
*/
.c-box-error{
  @include cnt-radius(4px);
  background: #f8d7da;
  padding: 8*2px;
  .error-message{
    color: $color-alert;
    p{
      margin-top: 0;
      line-height:1.5;
      margin-bottom:.6em;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.c-box-point-list{
  .title{
    @include cnt-font-size(25);
    margin-bottom:10px;
    color: $color-main;
    text-align: center;
  }
  .text{
    line-height:1.5;
  }
}
.c-box-notes{
  @include cnt-font-size(14);
  background: $color-table;
  line-height: 1.8;
  padding: 15px;
  p{
    @include cnt-font-size(14);
    &:last-child{
      margin-bottom: 0;
    }
  }
}


.b-box-point-list{
  padding: 8*5px 0;
  .w-box-point-list{
    .l-column{
      @include mq(pc){
        @include flx-row;
        @include flx-center;
      }
      .l-column-4{
        @include mq(pc) {
          @include flx-col-3;
          padding-left: 8*2px;
          padding-right: 8*2px;
          @include cnt-font-size(14);
        }
        @include mq() {
          margin-bottom:8*6px;
          &:last-child{
            margin-bottom:0;
          }
        }
      }
    }
  }
}