
$ggcRed50: #FFEBEE;
$ggcRed100: #FFCDD2;
$ggcRed200: #EF9A9A;
$ggcRed300: #E57373;
$ggcRed400: #EF5350;
$ggcRed500: #F44336;
$ggcRed600: #E53935;
$ggcRed700: #D32F2F;
$ggcRed800: #C62828;
$ggcRed900: #B71C1C;
$ggcRedA100: #FF8A80;
$ggcRedA200: #FF5252;
$ggcRedA400: #FF1744;
$ggcRedA700: #D50000;

$ggcPink50: #FCE4EC;
$ggcPink100: #F8BBD0;
$ggcPink200: #F48FB1;
$ggcPink300: #F06292;
$ggcPink400: #EC407A;
$ggcPink500: #E91E63;
$ggcPink600: #D81B60;
$ggcPink700: #C2185B;
$ggcPink800: #AD1457;
$ggcPink900: #880E4F;
$ggcPinkA100: #FF80AB;
$ggcPinkA200: #FF4081;
$ggcPinkA400: #F50057;
$ggcPinkA700: #C51162;

$ggcPurple50: #F3E5F5;
$ggcPurple100: #E1BEE7;
$ggcPurple200: #CE93D8;
$ggcPurple300: #BA68C8;
$ggcPurple400: #AB47BC;
$ggcPurple500: #9C27B0;
$ggcPurple600: #8E24AA;
$ggcPurple700: #7B1FA2;
$ggcPurple800: #6A1B9A;
$ggcPurple900: #4A148C;
$ggcPurpleA100: #EA80FC;
$ggcPurpleA200: #E040FB;
$ggcPurpleA400: #D500F9;
$ggcPurpleA700: #AA00FF;

$ggcDeepPurple50: #EDE7F6;
$ggcDeepPurple100: #D1C4E9;
$ggcDeepPurple200: #B39DDB;
$ggcDeepPurple300: #9575CD;
$ggcDeepPurple400: #7E57C2;
$ggcDeepPurple500: #673AB7;
$ggcDeepPurple600: #5E35B1;
$ggcDeepPurple700: #512DA8;
$ggcDeepPurple800: #4527A0;
$ggcDeepPurple900: #311B92;
$ggcDeepPurpleA100: #B388FF;
$ggcDeepPurpleA200: #7C4DFF;
$ggcDeepPurpleA400: #651FFF;
$ggcDeepPurpleA700: #6200EA;

$ggcIndigo50: #E8EAF6;
$ggcIndigo100: #C5CAE9;
$ggcIndigo200: #9FA8DA;
$ggcIndigo300: #7986CB;
$ggcIndigo400: #5C6BC0;
$ggcIndigo500: #3F51B5;
$ggcIndigo600: #3949AB;
$ggcIndigo700: #303F9F;
$ggcIndigo800: #283593;
$ggcIndigo900: #1A237E;
$ggcIndigoA100: #8C9EFF;
$ggcIndigoA200: #536DFE;
$ggcIndigoA400: #3D5AFE;
$ggcIndigoA700: #304FFE;

$ggcBlue50: #E3F2FD;
$ggcBlue100: #BBDEFB;
$ggcBlue200: #90CAF9;
$ggcBlue300: #64B5F6;
$ggcBlue400: #42A5F5;
$ggcBlue500: #2196F3;
$ggcBlue600: #1E88E5;
$ggcBlue700: #1976D2;
$ggcBlue800: #1565C0;
$ggcBlue900: #0D47A1;
$ggcBlueA100: #82B1FF;
$ggcBlueA200: #448AFF;
$ggcBlueA400: #2979FF;
$ggcBlueA700: #2962FF;

$ggcLightBlue50: #E1F5FE;
$ggcLightBlue100: #B3E5FC;
$ggcLightBlue200: #81D4FA;
$ggcLightBlue300: #4FC3F7;
$ggcLightBlue400: #29B6F6;
$ggcLightBlue500: #03A9F4;
$ggcLightBlue600: #039BE5;
$ggcLightBlue700: #0288D1;
$ggcLightBlue800: #0277BD;
$ggcLightBlue900: #01579B;
$ggcLightBlueA100: #80D8FF;
$ggcLightBlueA200: #40C4FF;
$ggcLightBlueA400: #00B0FF;
$ggcLightBlueA700: #0091EA;

$ggcCyan50: #E0F7FA;
$ggcCyan100: #B2EBF2;
$ggcCyan200: #80DEEA;
$ggcCyan300: #4DD0E1;
$ggcCyan400: #26C6DA;
$ggcCyan500: #00BCD4;
$ggcCyan600: #00ACC1;
$ggcCyan700: #0097A7;
$ggcCyan800: #00838F;
$ggcCyan900: #006064;
$ggcCyanA100: #84FFFF;
$ggcCyanA200: #18FFFF;
$ggcCyanA400: #00E5FF;
$ggcCyanA700: #00B8D4;

$ggcTeal50: #E0F2F1;
$ggcTeal100: #B2DFDB;
$ggcTeal200: #80CBC4;
$ggcTeal300: #4DB6AC;
$ggcTeal400: #26A69A;
$ggcTeal500: #009688;
$ggcTeal600: #00897B;
$ggcTeal700: #00796B;
$ggcTeal800: #00695C;
$ggcTeal900: #004D40;
$ggcTealA100: #A7FFEB;
$ggcTealA200: #64FFDA;
$ggcTealA400: #1DE9B6;
$ggcTealA700: #00BFA5;

$ggcGreen50: #E8F5E9;
$ggcGreen100: #C8E6C9;
$ggcGreen200: #A5D6A7;
$ggcGreen300: #81C784;
$ggcGreen400: #66BB6A;
$ggcGreen500: #4CAF50;
$ggcGreen600: #43A047;
$ggcGreen700: #388E3C;
$ggcGreen800: #2E7D32;
$ggcGreen900: #1B5E20;
$ggcGreenA100: #B9F6CA;
$ggcGreenA200: #69F0AE;
$ggcGreenA400: #00E676;
$ggcGreenA700: #00C853;

$ggcLightGreen50: #F1F8E9;
$ggcLightGreen100: #DCEDC8;
$ggcLightGreen200: #C5E1A5;
$ggcLightGreen300: #AED581;
$ggcLightGreen400: #9CCC65;
$ggcLightGreen500: #8BC34A;
$ggcLightGreen600: #7CB342;
$ggcLightGreen700: #689F38;
$ggcLightGreen800: #558B2F;
$ggcLightGreen900: #33691E;
$ggcLightGreenA100: #CCFF90;
$ggcLightGreenA200: #B2FF59;
$ggcLightGreenA400: #76FF03;
$ggcLightGreenA700: #64DD17;

$ggcLime50: #F9FBE7;
$ggcLime100: #F0F4C3;
$ggcLime200: #E6EE9C;
$ggcLime300: #DCE775;
$ggcLime400: #D4E157;
$ggcLime500: #CDDC39;
$ggcLime600: #C0CA33;
$ggcLime700: #AFB42B;
$ggcLime800: #9E9D24;
$ggcLime900: #827717;
$ggcLimeA100: #F4FF81;
$ggcLimeA200: #EEFF41;
$ggcLimeA400: #C6FF00;
$ggcLimeA700: #AEEA00;

$ggcYellow50: #FFFDE7;
$ggcYellow100: #FFF9C4;
$ggcYellow200: #FFF59D;
$ggcYellow300: #FFF176;
$ggcYellow400: #FFEE58;
$ggcYellow500: #FFEB3B;
$ggcYellow600: #FDD835;
$ggcYellow700: #FBC02D;
$ggcYellow800: #F9A825;
$ggcYellow900: #F57F17;
$ggcYellowA100: #FFFF8D;
$ggcYellowA200: #FFFF00;
$ggcYellowA400: #FFEA00;
$ggcYellowA700: #FFD600;

$ggcYellowAmber50: #FFF8E1;
$ggcYellowAmber100: #FFECB3;
$ggcYellowAmber200: #FFE082;
$ggcYellowAmber300: #FFD54F;
$ggcYellowAmber400: #FFCA28;
$ggcYellowAmber500: #FFC107;
$ggcYellowAmber600: #FFB300;
$ggcYellowAmber700: #FFA000;
$ggcYellowAmber800: #FF8F00;
$ggcYellowAmber900: #FF6F00;
$ggcYellowAmberA100: #FFE57F;
$ggcYellowAmberA200: #FFD740;
$ggcYellowAmberA400: #FFC400;
$ggcYellowAmberA700: #FFAB00;

$ggcOrange50: #FFF3E0;
$ggcOrange100: #FFE0B2;
$ggcOrange200: #FFCC80;
$ggcOrange300: #FFB74D;
$ggcOrange400: #FFA726;
$ggcOrange500: #FF9800;
$ggcOrange600: #FB8C00;
$ggcOrange700: #F57C00;
$ggcOrange800: #EF6C00;
$ggcOrange900: #E65100;
$ggcOrangeA100: #FFD180;
$ggcOrangeA200: #FFAB40;
$ggcOrangeA400: #FF9100;
$ggcOrangeA700: #FF6D00;

$ggcDeepOrange50: #FBE9E7;
$ggcDeepOrange100: #FFCCBC;
$ggcDeepOrange200: #FFAB91;
$ggcDeepOrange300: #FF8A65;
$ggcDeepOrange400: #FF7043;
$ggcDeepOrange500: #FF5722;
$ggcDeepOrange600: #F4511E;
$ggcDeepOrange700: #E64A19;
$ggcDeepOrange800: #D84315;
$ggcDeepOrange900: #BF360C;
$ggcDeepOrangeA100: #FF9E80;
$ggcDeepOrangeA200: #FF6E40;
$ggcDeepOrangeA400: #FF3D00;
$ggcDeepOrangeA700: #DD2C00;

$ggcBrown50: #EFEBE9;
$ggcBrown100: #D7CCC8;
$ggcBrown200: #BCAAA4;
$ggcBrown300: #A1887F;
$ggcBrown400: #8D6E63;
$ggcBrown500: #795548;
$ggcBrown600: #6D4C41;
$ggcBrown700: #5D4037;
$ggcBrown800: #4E342E;
$ggcBrown900: #3E2723;

$ggcGrey50: #FAFAFA;
$ggcGrey100: #F5F5F5;
$ggcGrey200: #EEEEEE;
$ggcGrey300: #E0E0E0;
$ggcGrey400: #BDBDBD;
$ggcGrey500: #9E9E9E;
$ggcGrey600: #757575;
$ggcGrey700: #616161;
$ggcGrey800: #424242;
$ggcGrey900: #212121;

$ggcBlueGrey50: #ECEFF1;
$ggcBlueGrey100: #CFD8DC;
$ggcBlueGrey200: #B0BEC5;
$ggcBlueGrey300: #90A4AE;
$ggcBlueGrey400: #78909C;
$ggcBlueGrey500: #607D8B;
$ggcBlueGrey600: #546E7A;
$ggcBlueGrey700: #455A64;
$ggcBlueGrey800: #37474F;
$ggcBlueGrey900: #263238;
